<div style="margin-top: 50px;">
<%= form_for @user, url: registration_path(resource_name) do |f| %>
    <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email%>
    </div>
    <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name%>
    </div>
    <br>
  <div>
  <%= f.fields_for :members do |m| %>
    <div>
        <%= m.label :first_name %>
        <%= m.text_field :first_name %>
    </div>
    <div>
        <%= m.label :family_name %>
        <%= m.text_field :family_name %>
    </div>
    <div>
        <%= m.label :first_name_kana %>
        <%= m.text_field :first_name_kana %>
    </div>
    <div>
        <%= m.label :family_namekana %>
        <%= m.text_field :family_namekana %>
    </div>
    <div>
        <%= m.label :birthday_year %>
        <%= m.text_field :birthday_year %>
    </div>
    <div>
        <%= m.label :birthday_month %>
        <%= m.text_field :birthday_month %>
    </div>
    <div>
        <%= m.label :birthday_day %>
        <%= m.text_field :birthday_day %>
    </div>
    <div>
        <%= m.label :gender %>
        <%= m.text_field :gender %>
    </div>
    <div>
        <%= m.label :telephone_number_first %>
        <%= m.text_field :telephone_number_first %>
    </div>
    <div>
        <%= m.label :telephone_number_second %>
        <%= m.text_field :telephone_number_second %>
    </div>
    <div>
        <%= m.label :telephone_number_third %>
        <%= m.text_field :telephone_number_third %>
    </div>
    <div>
        <%= m.label :landline_number_third %>
        <%= m.text_field :landline_number_third %>
    </div>
    <div>
        <%= m.label :landline_number_third %>
        <%= m.text_field :landline_number_third %>
    </div>
    <div>
        <%= m.label :landline_number_third %>
        <%= m.text_field :landline_number_third %>
    </div>
    <div>
        <%= m.label :post_code %>
        <%= m.text_field :post_code %>
    </div>
    <div>
        <%= m.label :municipalities %>
        <%= m.text_field :municipalities %>
    </div>
    <div>
        <%= m.label :address %>
        <%= m.text_field :address %>
    </div>
    <div>
        <%= m.label :email %>
        <%= m.text_field :email %>
    </div>
<% end %>
</div>
<br>
<div>
    <%= f.fields_for :cars do |c| %>
        <div>
            <%= c.label :car_model %>
            <%= c.text_field :car_model %>
        </div>
        <div>
            <%= c.label :car_model_second %>
            <%= c.text_field :car_model_second %>
        </div>
        <div>
            <%= c.label :car_displacemen %>
            <%= c.text_field :car_displacemen %>
        </div>
        <div>
            <%= c.label :car_displacement_second %>
            <%= c.text_field :car_displacement_second %>
        </div>
        <div>
            <%= c.label :car_registered_place %>
            <%= c.text_field :car_registered_place %>
        </div>
        <div>
            <%= c.label :car_registered_place_second %>
            <%= c.text_field :car_registered_place_second %>
        </div>
        <div>
            <%= c.label :car_model_number %>
            <%= c.text_field :car_model_number %>
        </div>
        <div>
            <%= c.label :car_model_number_second %>
            <%= c.text_field :car_model_number_second %>
        </div>
        <div>
            <%= c.label :car_kana %>
            <%= c.text_field :car_kana %>
        </div>
        <div>
            <%= c.label :car_kana_second %>
            <%= c.text_field :car_kana_second %>
        </div>
        <div>
            <%= c.label :car_number %>
            <%= c.text_field :car_number %>
        </div>
        <div>
            <%= c.label :car_number_second %>
            <%= c.text_field :car_number_second %>
        </div>
    <% end %>
</div>
<br>
    <div class="field">
        <%= f.label :password %><br />
        <%= f.text_field :password%>
    </div>
    <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.text_field :password_confirmation%>
    </div>
    <br>
  </div>
    <%= f.submit %>
 <% end %>
</div>